<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    
    <body>

    <header>
        <%- include('../partials/header'); %>
    </header>
    <!-- SMedia Player -->
    <div class="player">
            <div>
                <input type="range" value="0" id="player-progress-bar"> 
                <div class="player-controls">
                    <div><i class="fa-solid fa-backward"></i></div>
                    <div><i class="fa-solid fa-play"></i></div>
                    <div><i class="fa-solid fa-forward"></i></div>
                </div>
            </div>
    </div>

    <!-- Playlist search-->
    <div class="section schedule">
        <div class="container" style="align-items: center;">
            <h1 style="text-align: center;">Search Playlists</h1>
            <div class="input">
                <div class="textfield-1 textfield-2">
                    <input type="text" id="text-1" placeholder="Search by Name">
                </div>
            </div>
            <div class="button">
                <div class="secondary">
                    <div class="title-black">View Past</div>
                </div>
                <div class="primary">
                    <div class="title-white">Add Playlist</div>
                </div>
            </div>
            
        </div> 
        
    </div>

<!-- Timeslot section -->
    <div class="section">
        <div class="container">
            <h1 style="text-align: center;">Time Slots</h1>
            <label for="timeslot">Select a Timeslot:</label>
            <select id="timeslot">
                <option value="morning">Morning</option>
                <option value="afternoon">Afternoon</option>
                <option value="evening">Evening</option>
            </select>
        
            <!-- Display the playlist in a table -->
            <table>
                <thead>
                    <tr>
                        <th>Timeslot</th>
                        <th>Playlist</th>
                        <th>Reserved By</th>
                    </tr>
                </thead>
                <tbody id="timeslotContainer">
                    <!-- Playlist content will be displayed here -->
                </tbody>
            </table>
        </div>
    </div>

<!-- Upcoming Dates Section -->
    <div>   
        <h1 style="text-align: center;">Up Coming Dates</h1>
    </div>

    <div class="section">
        <div class="container">
            <h2>Events</h2>
            <div>
                <img src="images/Temp playlist.jpg" alt="img" class="playlist-img">
                <div>
                    <h3>Event Name</h3>
                    <p>Host: </p>
                    <p>Genre: Genre Name</p>
                    <p>Main Playlist:</p>
                </div>
            </div>
            <div>
                <img src="images/Temp playlist2.jpg" alt="img" class="playlist-img">
                <div>
                    <h3>Event Name</h3>
                    <p>Host: </p>
                    <p>Genre: Genre Name</p>
                    <p>Main Playlist: </p>
                </div>
            </div>
            <!-- Add more tracks as needed -->
        </div>
    </div>

    <script src="../../js/script.js"></script>
    </body>
</html>