<h1>DJ Dashboard</h1>
        <!-- Move the search bar to the right of the header -->
        <nav class="dropdown">
            <button class="nav-button" onclick="alert('return to home!')"><a href="">Home</a></button>
            <button class="nav-button" onclick="alert('opening editor!')"><a href="">Playlist Editor</a></button>
            <button class="nav-button" onclick="alert('opening schedules')"><a href="">Schedule</a></button>
            <button class="nav-button" onclick="alert('opening settins')"><a href="">Settings</a></button>
        </nav>

        <input type="text" id="search-bar" placeholder="Search..."> <!--Search Bar-->
